<div class="row">
  <div class="col-lg-2 col-sm-12 col-xs-12 pl-3 pr-3">
    <!-- Start filter section  -->
    <app-filter></app-filter>
    <!-- End filter section  -->
  </div>
  <div class="col-lg-7 col-sm-12 col-xs-12 pl-3 pr-3">
    <!-- Start  courses list with search  -->
    <app-courses-list></app-courses-list>
    <!-- End  courses list with search  -->
  </div>

  <div class="col-lg-3 col-sm-12 col-xs-12 pl-3 pr-3">
    <div class="row bg-content">
      <div class="col-12 pt-2 pl-2">
        <!-- Start todo list with events -->
        <app-todo-list></app-todo-list>
        <!-- End todo list with events -->
      </div>
    </div>

    <div class="row bg-content mt-2">
      <div class="col-12 pt-2 pl-2">
        <!-- Start recent  updates list   -->
        <app-recent-updates-list></app-recent-updates-list>
        <!-- End recent  updates list   -->
      </div>
    </div>
  </div>
</div>
