.bg-img {
  background-image: url("/assets/imgs/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rounded-15 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
