<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row bg-img h-140px">
    <div class="col-12 p-0 d-flex flex-row align-items-center h-100">
      <div class="info pr-3">
        <h6
          class="text-right font-10 text-white mb-1 pt-1 pb-1 text-uppercase pl-4 pr-3 border bg-grayheader border-gray rounded-15"
        >
          learn online
        </h6>
        <p
          class="text-right font-9 mb-0 text-white pt-1 pb-1 pl-4 pr-3 border bg-grayheader-trans border-gray-trans rounded-15"
        >
          Study any topic, anytime. Explore thousands of courses starting at
          $11.99 each
        </p>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-12 h-100 w-100">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
