.dropdown-toggle::after {
  content: none;
}

.profile-ddl {
  transform: translateX(-70%) !important;
  background-color: #b7b6b5;
  padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  outline: 0;

  background-color: #54b053;
}

.bg-img {
  background-image: url("/assets/imgs/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rounded-15 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 987px) {
  .profile-ddl {
    transform: translateX(0%) !important;
  }
}
